@import "tailwindcss";

body {
    background-color: white;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/Fontfabric-MullerRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/Fontfabric-MullerMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/Fontfabric-MullerBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/Muller/Fontfabric-MullerBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.font-muller {
    font-family: 'Muller', sans-serif;
}

.clip-path-triangle {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.4s ease-in;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FF6432 !important;
}

@media (max-width: 1024px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

}

.swiper-pagination-bullet {
    background: #FF6432 !important;
}

.Toastify__toast {
    background: #3a2622 !important;
    font-family: 'Muller', sans-serif;
}
